# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Common build dirs
build/
**/build/
cmake-build-*/

# C/C++
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.app
*.dwo

# Rust
**/target/

# Go
**/bin/
*.test
*.coverprofile
coverage.out

# LaTeX / Beamer
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.xdv
*.synctex.gz
*.synctex.gz(busy)
*.bcf
*.run.xml

